  @import 'vars';
  @import 'fonts';
  @import 'reset';
  @import 'libs';
  @import 'global';
  .header {
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 0 54px;
    }
  }
  
  .logo {
    display: flex;
    align-items: center;
    &__text {
      padding-left: 14px;
      color: $accent;
      @extend %Rubik-Medium-500;
      font-size: 36px;
      line-height: 58px;
    }
  }
  
  .menu {
    &__list {
      display: flex;
    }
    &__list-item+.menu__list-item {
      padding-left: 35px;
    }
    &__list-link {
      color: $accent;
      @extend %Rubik-Medium-500;
      font-size: 15px;
      line-height: 12px;
    }
  }
  
  .user-nav {
    display: flex;
    &__item {
      display: flex;
    }
    &__link-search {
      width: 51px;
      height: 51px;
      border-radius: 25px;
      background-color: #a3bbc8;
      background-color: rgba($color: #a3bbc8, $alpha: 0.2);
      position: relative;
    }
    &__img-search {
      position: absolute;
      top: 18px;
      right: 18px;
    }
    &__item {
      width: 178px;
      height: 51px;
      border-radius: 26px;
      background-color: #fcd7b6;
      margin: 0 16px;
      position: relative;
    }
    &__item::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #ffffff;
      opacity: 40%;
      left: 85px;
      top: 10px;
    }
    &__link-shape {
      position: absolute;
      top: 23px;
      left: 40px;
    }
    &__link-shops {
      position: absolute;
      top: 23px;
      right: 45px;
    }
    &___img-like {
      position: relative;
    }
    &__num {
      color: #243f4d;
      @extend %DMSans-Regular-400;
      font-size: 10px;
      ;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: #ffffff;
      position: absolute;
      top: -8px;
      right: -8px;
      text-align: center;
      line-height: 16px;
    }
    &__link-eleps {
      width: 51px;
      height: 51px;
      border-radius: 25px;
      background-color: #a3bbc8;
      position: relative;
    }
    &__img-elips {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  
  .footer-top {
    display: flex;
    padding: 76px 0 50px;
    border-bottom: 1px solid #a3bbc8;
    &__contact {
      width: 200px;
      margin-right: 100px;
    }
    &__nav {
      padding-top: 25px;
      width: 120px;
      margin-right: 175px;
    }
    &__navto {
      padding-top: 25px;
      width: 95px;
      margin-right: 190px;
    }
    &__form {
      padding-top: 25px;
      max-width: 270px;
    }
    .logo {
      margin-bottom: 20px;
    }
    &__adress,
    &__phone,
    &__email {
      display: block;
      margin-bottom: 15px;
      line-height: 32px;
    }
    &__list {
      margin-top: 26px;
    }
    &__link {
      display: block;
      margin-bottom: 15px;
      line-height: 32px;
    }
    &__title {
      color: #1f2044;
      @extend %DMSans-Bold-700;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
    }
    &__text {
      margin: 26px 0 35px;
      font-size: 14px;
      line-height: 24px;
      color: #7b7b7b;
      @extend %Rubik-Regular-400;
    }
    &__input {
      max-width: 170px;
      width: 100%;
      border: none;
      background-color: #fcd7b6;
      opacity: 20%;
      @extend %DMSans-Regular-400;
      font-size: 12px;
      color: #234969;
      padding: 13px 75px 13px 9px;
    }
    &__btn {
      border: none;
      background-color: #a3bbc8;
      @extend %DMSans-Regular-400;
      font-size: 14px;
      color: #ffffff;
      line-height: 21px;
      cursor: pointer;
      padding: 9px 16px;
      position: absolute;
    }
  }
  
  .footer-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    &__text {
      font-size: 14px;
      line-height: 32px;
      color: #7b7b7b;
      @extend %Rubik-Regular-400;
    }
    &__item {
      display: inline;
      margin-left: 15px;
      padding: 2px 15px 2px 0;
      border-right: 1px solid #7b7b7b;
    }
    .footer-button__contact {
      border: none;
      padding-right: 0px;
    }
  }
  
  .slider-top {
    background-color: $bg;
    left: 100px;
    padding: 205px 0 50px;
    &__inner {
      &::before {
        content: url(..//images/slider/Ellipse.png);
        position: absolute;
        right: -110px;
        top: -120px;
      }
    }
    &__item {
      display: flex !important;
      justify-content: space-between;
    }
    &__title {
      font-size: 72px;
      line-height: 70px;
      color: #243f4d;
      @extend %Rubik-Medium-500;
      max-width: 411px;
      margin-bottom: 40px;
    }
    &__text {
      font-size: 18px;
      line-height: 30px;
      color: #436372;
      @extend %Rubik-Regular-400;
      max-width: 372px;
      margin-bottom: 40px;
    }
    &__btn {
      position: relative;
      font-size: 15px;
      line-height: 12px;
      color: #ffffff;
      @extend %Rubik-Medium-500;
      background-color: #a3bbc8;
      padding: 23px 100px 23px 5px;
      position: relative;
      &::before {
        content: url(..//images/arow_slider.png);
        position: absolute;
        right: 20px;
        top: 26px;
      }
    }
    &__img {
      margin: 75px 0 205px;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      li {
        margin: 0 11px;
        button {
          padding: 0;
          @extend %Rubik-Medium-500;
          border: none;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          background-color: #ffffff;
          opacity: 30%;
        }
        &.slick-active {
          background-color: #ffffff;
          border-radius: 15px;
          width: 30px;
          height: 30px;
          padding: 0;
          margin: 0 11px;
        }
      }
    }
  }
  
  @import 'media';